<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/process}"
      th:object="${customer}"
      method="post">
    Mr/Mrs :<input type="text" th:field="*{title}" />
    <span th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}"></span><br />
    First Name :<input type="text" th:field="*{firstname}" />
    <span th:if="${#fields.hasErrors('firstname')}"
          th:errors="*{firstname}"></span><br />
    Last Name :<input type="text" th:field="*{lastname}" />
    <span th:if="${#fields.hasErrors('lastname')}"
          th:errors="*{lastname}"></span><br />
    First Name :<input type="text" th:field="*{firstname}" />
    <span th:if="${#fields.hasErrors('firstname')}"
          th:errors="*{firstname}"></span><br />
    Street Address :<textarea rows="3" th:field="*{address}" />
    <span th:if="${#fields.hasErrors('address')}"
          th:errors="*{address}"></span>
    City :<input type="text" th:field="*{city}" />
    <span th:if="${#fields.hasErrors('city')}"
          th:errors="*{city}"></span><br />
    State :<input type="text" th:field="*{state}" />
    <span th:if="${#fields.hasErrors('state')}"
          th:errors="*{state}"></span><br />
    Zip Code :<input type="text" th:field="*{zipcode}" />
    <span th:if="${#fields.hasErrors('zipcode')}"
          th:errors="*{zipcode}"></span><br />
    Email :<input type="text" th:field="*{email}" />
    <span th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}"></span><br />
    Position :<input type="text" th:field="*{position}" />
    <span th:if="${#fields.hasErrors('position')}"
          th:errors="*{position}"></span><br />
    Company :<input type="text" th:field="*{company}" />
    <span th:if="${#fields.hasErrors('company')}"
          th:errors="*{company}"></span><br />
    <br />

    <input type="submit" value="Submit" />

    <a href="/">Show All Courses</a><br />


</form>
</body>
</html>